*
!build/*-runner
!build/*-runner.jar
!build/lib/*
!build/quarkus-app/*/.idea/
!src/main/java/*
!src/main/resources/application.properties
!src/main/resources/liquibase.properties
!src/main/resources/keys
!gradle.properties
!gradle
!gradlew
!settings.gradle
!build.gradle